<div id="famportal-categories">
    <h3>Familienportal Kategorien</h3>
    <ul>
        <li ng-repeat="category in root.composite['famportal.category'] | orderBy:'composite[\'famportal.category.order\'].value'">
            {{category.value}}
            <ul>
                <li ng-repeat="category in category.composite['famportal.category'] | orderBy:'composite[\'famportal.category.order\'].value'">
                    {{category.value}}
                    <ul>
                        <li ng-repeat="category in category.composite['famportal.category'] | orderBy:'composite[\'famportal.category.order\'].value'" ng-class="{selected: category.id == famportalCategory.id}">
                            <a href="" ng-click="selectFamportalCategory(category)">{{category.value}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="kiezatlas-objects" ng-if="famportalCategory">
    <b>{{famportalCategory.value}}</b> <ng-pluralize count="geoObjects.length" when="{
        0: 'ist noch kein Kiezatlas Objekt zugeordnet.',
        'one': 'ist 1 Kiezatlas Objekt zugeordnet:',
        'other': 'sind {} Kiezatlas Objekte zugeordnet:'}"></ng-pluralize>
    <ul>
        <li ng-repeat="geoObject in geoObjects">
            <input type="checkbox" ng-model="geoObject.selected" ng-change="selectGeoObject()"> {{geoObject.value}}
        </li>
    </ul>
    <button ng-click="removeFromFamportalCategory()" ng-if="geoObjects" ng-disabled="!geoObjects.selectedCount">
        <ng-pluralize count="geoObjects.selectedCount" when="{
            '0': 'Zuordnung entfernen',
            'one': '1 Zuordnung entfernen',
            'other': '{} Zuordnungen entfernen'}"></ng-pluralize>
    </button>
</div>
<div id="kiezatlas-objects" ng-if="!famportalCategory">
    <div><-- Wähle eine Kategorie aus</div>
</div>

<div id="kiezatlas-search">
    <input type="text" ng-model="searchTerm" ng-keyup="searchGeoObjects()"><br /><br />
    <ul>
        <li ng-repeat="criteriaResult in searchResult | orderBy:'criteria.value'">
            {{criteriaResult.criteria.value}}
            <ul>
                <li ng-repeat="categoryResult in criteriaResult.categories | orderBy:'category.value'">
                    {{categoryResult.category.value}}
                    <ul>
                        <li ng-repeat="geoObject in categoryResult.geo_objects | orderBy:'value'">
                            {{geoObject.value}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <button ng-click="assignToFamportalCategory()">Zu <b>{{famportalCategory.value}}</b> zuordnen</button>
</div>
