<div id="famportal-categories">
    <ul>
        <li ng-repeat="category in root.composite['famportal.category'] | orderBy:'composite[\'famportal.category.order\'].value'">
            {{category.value}}
            <ul>
                <li ng-repeat="category in category.composite['famportal.category'] | orderBy:'composite[\'famportal.category.order\'].value'">
                    {{category.value}}
                    <ul>
                        <li ng-repeat="category in category.composite['famportal.category'] | orderBy:'composite[\'famportal.category.order\'].value'" ng-class="{selected: category.id == famportalCategory.id}">
                            <a href="" ng-click="selectFamportalCategory(category)">{{category.value}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="kiezatlas-objects">
    <b>{{famportalCategory.value}}</b> sind {{geoObjects.length}} Kiezatlas Objekte zugeordnet:
    <ul>
        <li ng-repeat="geoObject in geoObjects">
            <input type="checkbox" ng-model="geoObject.selected"> {{geoObject.value}}
        </li>
    </ul>
    <button ng-click="removeFromFamportalCategory()">Zuordnungen löschen</button>
</div>

<div id="kiezatlas-search">
    <input type="text" ng-model="searchTerm" ng-keyup="searchGeoObjects()"><br /><br />
    <ul>
        <li ng-repeat="criteriaResult in searchResult | orderBy:'criteria.value'">
            {{criteriaResult.criteria.value}}
            <ul>
                <li ng-repeat="categoryResult in criteriaResult.categories | orderBy:'category.value'">
                    {{categoryResult.category.value}}
                    <ul>
                        <li ng-repeat="geoObject in categoryResult.geo_objects | orderBy:'value'">
                            {{geoObject.value}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <button ng-click="assignToFamportalCategory()">Zu <b>{{famportalCategory.value}}</b> zuordnen</button>
</div>
